Source: ros-noetic-kobuki-dock-drive
Section: misc
Priority: optional
Maintainer: Younghun Ju <yhju@yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-ecl-build, ros-noetic-ecl-geometry, ros-noetic-ecl-linear-algebra, ros-noetic-ecl-threads
Homepage: http://ros.org/wiki/kobuki_dock_drive
Standards-Version: 3.9.2

Package: ros-noetic-kobuki-dock-drive
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-ecl-geometry, ros-noetic-ecl-linear-algebra, ros-noetic-ecl-threads
Description: Dock driving library for Kobuki.
 Users owning a docking station for Kobuki can use this tool to develop autonomous docking drive algorithms.
