Source: ros-indigo-kobuki-dock-drive
Section: misc
Priority: extra
Maintainer: Younghun Ju <yhju@yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-ecl-geometry, ros-indigo-ecl-linear-algebra, ros-indigo-ecl-threads
Homepage: http://ros.org/wiki/kobuki_dock_drive
Standards-Version: 3.9.2

Package: ros-indigo-kobuki-dock-drive
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-ecl-geometry, ros-indigo-ecl-linear-algebra, ros-indigo-ecl-threads
Description: Dock driving library for Kobuki. Users owning a docking station for Kobuki can use this tool to develop autonomous docking drive algorithms.
