Source: ros-hydro-kobuki-core
Section: misc
Priority: extra
Maintainer: Daniel Stonier <stonier@yujinrobot.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/kobuki_core
Standards-Version: 3.9.2

Package: ros-hydro-kobuki-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-kobuki-auto-docking, ros-hydro-kobuki-bumper2pc, ros-hydro-kobuki-controller-tutorial, ros-hydro-kobuki-description, ros-hydro-kobuki-driver, ros-hydro-kobuki-ftdi, ros-hydro-kobuki-keyop, ros-hydro-kobuki-node, ros-hydro-kobuki-random-walker, ros-hydro-kobuki-safety-controller, ros-hydro-kobuki-testsuite
Description: Non-ROS software for Kobuki, Yujin Robot's mobile research base.
